.HugeCPLogo{
    position: absolute;
    filter:drop-shadow(0px 0px 50px var(--DimWhiteYellow));
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
}


.CPText{
    color: var(--WhiteYellow);
    text-align: center;
    font-family: Bahnschrift;
    font-size: 50px;
    text-shadow: 0px 0px 10px var(--WhiteYellow);
    letter-spacing: 8px;
    word-spacing: 6px;
}

.imgCP{
    display: flex;
    justify-self: center;
    width: 80%;
}
.imgCP:hover{
    cursor: pointer;
}

.CPimagesHolder{       
    z-index: 0;
    /* position: absolute; */
    margin-top: 750px;

    /*
    width: 99vw;
    height: 300px;
    */
    display: flex;
    justify-content:space-evenly;
    width: 100vw;

    border-bottom-color: var(--WhiteYellow);
    border-top-color: var(--WhiteYellow);
    border-left-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);

    border-style:solid;
    border-width: 2px;

    font-family: Bahnschrift;
}

.CPimg1{
    width: 30vw;
    
    filter:drop-shadow(0px 0px 20px var(--DimWhiteYellow));
}

.CPimg2{
    width: 30vw;
    
    filter:drop-shadow(0px 0px 20px var(--DimWhiteYellow));
}

.CPimg3{
    width: 30vw;
    
    /*
    margin-left: 2.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    */
    filter:drop-shadow(0px 0px 20px var(--DimWhiteYellow));
}
