.HugeCPLogo{
    position: absolute;
    filter:drop-shadow(0px 0px 50px var(--DimWhiteYellow));
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
}
.HugeCPLogo:hover{
    cursor: pointer;
}


.CPText{
    color: var(--WhiteYellow);
    text-align: center;
    font-family: Bahnschrift;
    font-size: 50px;
    text-shadow: 0px 0px 10px var(--WhiteYellow);
    letter-spacing: 8px;
    word-spacing: 6px;
}

.imgCP{
    display: flex;
    justify-self: center;
    width: 150%;
}


.CPimagesHolder{       
    z-index: 0;
    position: absolute;
    margin: 0px 0px;

    width: 99vw;
    height: 200px;

    top: 1000px;

    border-bottom-color: var(--WhiteYellow);

    border-style:solid;
    border-width: 2px;

    font-family: Bahnschrift;
}