.HugeCPLogo{
    margin-left: auto;
    margin-right: auto;
    filter:drop-shadow(0px 0px 50px var(--DimWhiteYellow));
    margin-top: 220px;
    justify-content: center;
}


.CPText{
    color: var(--WhiteYellow);
    text-align: center;
    font-family: Bahnschrift;
    font-size: 50px;
    text-shadow: 0px 0px 10px var(--WhiteYellow);
    letter-spacing: 8px;
    word-spacing: 6px;
}

.imgCP{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
}
.imgCP:hover{
    cursor: pointer;
}

.CPimagesHolder{       
    z-index: 0;
    margin-top: 75px;

    /*
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(3, 500px);
    gap: 10px;
    width: 1000px;
    height: 700px;
    grid-template-areas: 
    "a . b"
    "a . b"
    "a . b";
    */
    /*padding: 50px 50px 50px 50px;*/


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    grid-auto-rows: 250px;
    grid-template-areas:
        "l c r";
    align-items: start;

    border-bottom-color: var(--WhiteYellow);
    border-top-color: var(--WhiteYellow);
    border-left-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);

    border-style:solid;
    border-width: 2px;

    font-family: Bahnschrift;
}

.CPimg{
    width: 400px;
    filter:drop-shadow(0px 0px 15px var(--DimWhiteYellow));
    margin-top: auto;
    margin-bottom: auto;
}

.CPimg1{
    grid-area: a;
    content:url(CPImages/CP_image_1.png);
}

.CPimg2{
    grid-area: b;
    content:url(CPImages/CP_image_2.png);
}

.CPimg3{
    grid-area: c;
    content:url(CPImages/CP_image_3.png);
}

.CPimg4{
    grid-area: e;
    content:url(CPImages/CP_image_1.png);
}

.CPimg5{
    grid-area: f;
    content:url(CPImages/CP_image_2.png);
}

.CPimg6{
    grid-area: g;
    content:url(CPImages/CP_image_3.png);
}

.L{
    justify-self: start;
}

.R{
    justify-self: end;
}

.SmallDesc{
    color: var(--WhiteYellow);
    font-family: Bahnschrift;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}
