@font-face {
	font-family: 'Bahnschrift'; 
	src: url(/fonts/Bahnschrift.ttf); 
}

body{
    background-color: black;
    background-image: url("https://ironstonecollective.ru/placeHolderForTrial.gif");
    background-size: 100vw 100vh;;
}