:root {
    --DescFontSize:1.75vw;
    --NameFontSize:2vw;
}

.consilium{
    width: 90%;
    height: fit-content;
    border-width: 1px;
    font-family: Bahnschrift;
    margin: auto;
    margin-top: 100px;
}
.ConsTitle{
    text-align: center;
    color: white;
    font-size: 5vw;
    height: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 0 15px var(--DimGlowYellow);
}
.ConsMembers{
    display:flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    color: white;
    font-size:200%;
    text-align: center;
}

.Member{
    position: relative;
    width: 20%;
    height: fit-content;
}
.Name{
    height:10%;
    font-size: var(--NameFontSize);
    justify-self: center;
}
.Picture{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px var(--DimGlowYellow);
}
.Desc{
    font-size: var(--DescFontSize);
}