:root {
    --DescFontSize:1.75vw;
}
:root {
    --NameFontSize:2vw;
}

.consilium{
    width: 90%;
    height: fit-content;
    border-width: 1px;
    font-family: Bahnschrift;
    margin: auto;
}
.ConsTitle{
    text-align: center;
    color: white;
    font-size: 50px;
}
.ConsMembers{
    display:flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    color: white;
    font-size:200%;
    text-align: center;
}

.Glac1er{
    position: relative;
    width: 20%;
    height: fit-content;
}
.GRname{
    height:10%;
    font-size: var(--NameFontSize);
}
.GRpic{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px var(--DimGlowYellow);
}
.GRdesc{
    font-size: var(--DescFontSize);
}

.Ritbulau{
    position: relative;
    width: 20%;
    height: fit-content;
}
.RUname{
    height:10%;
    font-size: var(--NameFontSize);
}
.RUpic{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px var(--DimGlowYellow);
}
.RUdesc{
    font-size: var(--DescFontSize);
}

.N_5278{
    position: relative;
    width: 20%;
    height: fit-content;
}
.N8name{
    height:10%;
    font-size: var(--NameFontSize);
}
.N8pic{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px var(--DimGlowYellow);
}
.N8desc{
    font-size: var(--DescFontSize);
}

.Ghor1ko{
    position: relative;
    width: 20%;
    height: fit-content;
}
.GOname{
    height:10%;
    font-size: var(--NameFontSize);
}
.GOpic{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px var(--DimGlowYellow);
}
.GOdesc{
    font-size: var(--DescFontSize);
}


.other{
    font-family: Bahnshift;
    color: white;
    font-size: 50px;
    text-align: center;
}