.contact{
    font-family: Bahnschrift;
    color: white;
    font-size: 3vw;
    width: 90%;
    margin: auto;
}
.youCan{
    display: block;
    margin-left: 5%;
    margin-top: 50px;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.596);
}
.contactsHolder{
    display: flex;
    justify-content:space-between;
    margin-top: 45px;
    margin-bottom: 45px;
}

.Btn{
    scale: 100%;
    transition-property: scale;
    transition-duration: 0.5s;
    transition-delay: 0s;
    height: 4vw;
    filter:drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.336));
}

.Btn:hover{
    cursor: pointer;
    scale: 105%;
}